name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions: read-all


jobs:
  run-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dev dependencies
        run: make install-dev

      - name: Lint Check
        run: make lint

  run-test:
    runs-on: ubuntu-latest
    needs:
      - run-lint

    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]

    name: Test ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dev dependencies
        run: make install-dev

      - name: Run test
        run: make test

  run-coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs:
      - run-test

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dev dependencies
        run: make install-dev

      - name: Run coverage
        run: make coverage
